<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Chapter1 Servlet</servlet-name>
        <servlet-class>Ch1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chapter1 Servlet</servlet-name>
        <url-pattern>/Serv1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Chapter3 Servlet</servlet-name>
        <servlet-class>com.example.web.BeerSelect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chapter3 Servlet</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Jar Download Servlet</servlet-name>
        <servlet-class>CodeDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jar Download Servlet</servlet-name>
        <url-pattern>/jar</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Redirect Test</servlet-name>
        <servlet-class>RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Redirect Test</servlet-name>
        <url-pattern>/redirectTest</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BeerParamTest</servlet-name>
        <servlet-class>com.example.chapter5.TestInitParams</servlet-class>
        <init-param>
            <param-name>admin-email</param-name>
            <param-value>adminemail@epam.com</param-value>
        </init-param>
        <init-param>
            <param-name>main-email</param-name>
            <param-value>mainemail@epam.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeerParamTest</servlet-name>
        <url-pattern>/Testers.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Chapter 5 ListenerTester</servlet-name>
        <servlet-class>com.example.chapter5.ListenerTesterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Chapter 5 ListenerTester</servlet-name>
        <url-pattern>/ListenerTest</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>breed</param-name>
        <param-value>Miniature Schnauzer</param-value>
    </context-param>
    <listener>
        <listener-class>com.example.chapter5.MyFirstServletContextListener</listener-class>
    </listener>
</web-app>